@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/minecraft_font.eot") format("eot"), 
	     url("../fonts/minecraft_font.woff") format("woff"), 
	     url("../fonts/minecraft_font.ttf") format("truetype"), 
	     url("../fonts/minecraft_font.svg#Minecraft") format("svg");
}

body {
	margin: auto;
	background-color: black;

	background-image: url("../images/background_title_game.png");
	background-repeat: repeat;
}

#playerPosition {
	font-family: "Minecraft";
	font-size: 14pt;
	color:white;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 20px;
	padding: 5px;
	z-index: 1;
}

#currentTime {
	font-family: "Minecraft";
	font-size: 14pt;
	color:white;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 20px;
	top: 50px;
	padding: 5px;
	z-index: 1;
}

td {
	z-index: 0;
}

td > .img-interactable:hover {
	outline-style: solid;
	outline-color: rgba(0, 0, 0, 0.4);
	outline-width: 1px;
	outline-offset: -1px;
}

.div-destroy-stage-position {
	position: relative;
	height: 0px;
	width: 0px;
}

.img-destroy-stage {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}