@font-face {
    font-family: 'Minecraft Font';
    src: url('../fonts/minecraft-webfont.woff2') format('woff2'),
         url('../fonts/minecraft-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
	margin: auto;
	background-color: black;

	background-image: url("../images/background_title_game.png");
	background-repeat: repeat;
}

td {
	z-index: 0;
}

td > img:hover {
	outline-style: solid;
	outline-color: rgba(0, 0, 0, 0.4);
	outline-width: 1px;
	outline-offset: -1px;
}

#playerPosition {
	font-family: "Minecraft Font";
	font-size: 16pt;
	color:white;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 20px;
	padding: 5px;
	z-index: 1;
}