/* Imported fonts */
@font-face {
    font-family: 'Minecraft Font';
    src: url('../fonts/minecraft-webfont.woff2') format('woff2'),
         url('../fonts/minecraft-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


html, body {
	margin: auto;
	background-color: black;
	
	font-family: "Minecraft Font";

	background-image: url("../images/background_title.png");
	background-repeat: repeat;

	overflow: hidden;
}

/* Fades in all elements situated in the foreground */
@keyframes mainContainerFadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#main-container {
	animation-name: mainContainerFadeIn;
	animation-duration: 1s;
	animation-timing-function: linear;
}

p, a {
	color: white;
	text-decoration: none;
	font-size: 16pt;
}

/* Title and splash text */
#title {
	text-align: center;
	font-size: 54pt;
	margin-top: 128px;
	margin-bottom: 0;
	padding-bottom: 0;
}

@keyframes splashTextBounce {
	from {transform: scale(1, 1);}
	to {transform: scale(1.06, 1.06);}
}

#splash-container {
	transform: rotate(-15deg);
}

#splash {
	position: relative;
	left: 170px;
	top: 20px;

	margin-top: 5px;
	margin-bottom: 172px;
	padding-top: 0;

	text-align: center;
	text-shadow: 0px 0px 5px black;
	
	color: yellow;
	
	animation-name: splashTextBounce;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

/* Buttons */
#button-container {
	margin: auto;
	text-align: center;
}

#button-container > button {
	font-family: "Minecraft Font";
	font-size: 16pt;
	color:white;
	text-decoration: none;

	width: 600px;
	height: 60px;

	margin-bottom: 10px;
	padding: 0;
	
	border: none;

	background: url(../images/button.png) no-repeat;
	background-size: auto;
}

#button-container > button:hover {
	background: url(../images/button_hover.png) no-repeat;
}

#button-container > button:disabled {
	color: #969696;
	background: url(../images/button_disabled.png) no-repeat;
}

/* Footer */
#copyright {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 12pt;
	margin-left: 25px;
}


/* About modal */
.modal {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999;
}

.modal-content {
	background-image: url("../images/background_title.png");
	background-repeat: repeat;

	box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
	border: 2px solid dimgray;
	margin: 15% auto;
	padding: 15px;
	width: 50%;

	text-align: center;
	position: relative;
}

.modal-content-title {
	font-size: 28pt;
	font-weight: bold;
}

.modal-content-close {
	right: 10px;
	top: 10px;
	font-size: 24px;
	position: absolute;
	width: 40px;
	height: 40px;
	text-decoration: none;
	border: none;
	background-color: red;
	color: white;
}