@font-face {
    font-family: 'Minecraft Font';
    src: url('../fonts/minecraft-webfont.woff2') format('woff2'),
         url('../fonts/minecraft-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
	margin: auto;
	background-color: black;
	
	font-family: "Minecraft Font";

	background-image: url("../images/background_title.png");
	background-repeat: repeat;

	overflow: hidden;
}

p, a {
	color: white;
	text-decoration: none;
	font-size: 16pt;
}

#title {
	text-align: center;
	font-size: 54pt;
	margin-top: 128px;
	margin-bottom: 0;
	padding-bottom: 0;
}

@keyframes bounce {
	from {transform: scale(1, 1);}
	to {transform: scale(1.06, 1.06);}
}

#subtitle-div {
	transform: rotate(-20deg);
}

#subtitle {
	position: relative;
	left: 160px;
	top: 20px;

	margin-top: 5px;
	margin-bottom: 172px;
	padding-top: 0;

	text-align: center;
	text-shadow: 0px 0px 5px black;
	
	color: yellow;
	
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#copyright {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 12pt;
	margin-left: 25px;
}

#button-div {
	margin: auto;
	text-align: center;
}

button {
	font-family: "Minecraft Font";
	font-size: 16pt;
	color:white;
	text-decoration: none;

	width: 600px;
	height: 60px;

	margin-bottom: 10px;
	padding: 0;
	
	border: none;

	background: url(../images/button.png) no-repeat;
	background-size: auto;
}

button:hover {
	background: url(../images/button_hover.png) no-repeat;
}

button:disabled {
	color: #969696;
	background: url(../images/button_disabled.png) no-repeat;
}