@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/minecraft_font.eot") format("eot"), 
	     url("../fonts/minecraft_font.woff") format("woff"), 
	     url("../fonts/minecraft_font.ttf") format("truetype"), 
	     url("../fonts/minecraft_font.svg#Minecraft") format("svg");
}

/* General Style */
body {
	background-color: black;
	background-image: url("../images/background_title.png");
	background-repeat: repeat;
	font-family: "Minecraft";
	overflow: hidden;
}

@keyframes mainFadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

main {
	animation-name: mainFadeIn;
	animation-duration: 1s;
	animation-timing-function: linear;
}

p, label {
	color: white;
	display: block;
	text-decoration: none;
	font-size: 14pt;
}

/* Header (Title & Splash Text) Style */
@keyframes splashBounce {
	from {
		transform: scale(1, 1) rotate(-15deg);
	}
	to {
		transform: scale(1.06, 1.06) rotate(-15deg);
	}
}

header {
	margin-bottom: 128px;
}

header #title {
	display: block;
	image-rendering: crisp-edges;
	margin: 100px auto auto auto;
	width: 600px;
}

header #splash {
	position: relative;
	left: 280px;
	top: -30px;
	margin: 0;
	padding: 0;
	font-size: 14pt;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	color: yellow;
	cursor: default;
	animation-name: splashBounce;
	animation-duration: 0.28s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

/* Button Style */
#button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

button {
	background: url(../images/gui/button.png) no-repeat;
	background-size: auto;
	border: none;
	color:white;
	cursor: pointer;
	display: block;
	margin: 10px 0 10px 0;
	padding: 0;
	width: 600px;
	height: 60px;
	/* Text */
	font-family: "Minecraft";
	font-size: 14pt;
	text-decoration: none;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

button:hover {
	background: url(../images/gui/button_hover.png) no-repeat;
}

button:disabled {
	color: #969696;
	background: url(../images/gui/button_disabled.png) no-repeat;
}

/* Footer Style */
footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#version {
	cursor: default;
	font-size: 11pt;
	margin-left: 25px;
}

#copyright {
	cursor: default;
	font-size: 11pt;
	margin-right: 25px;
}

/* Modal Style */
@keyframes modalBackgroundFadeIn {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 0.62);
	}
}

@keyframes modalContentZoomIn {
	from {
		opacity: 0;
		transform: scale(0.95, 0.95);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	animation-name: modalBackgroundFadeIn;
	animation-duration: 0.13s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.modal-content {
	background-image: url(../images/background_title.png);
	background-repeat: repeat;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
	font-size: 12pt;
	margin: 15% auto;
	padding: 15px;
	position: relative;
	text-align: center;
	width: 40%;
	animation-name: modalContentZoomIn;
	animation-duration: 0.13s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.modal-content-title {
	font-size: 20pt;
	cursor: default;
}

.modal-content-close {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 0;
	width: 40px;
	height: 40px;
	background-image: url(../images/gui/close_button.png);
	font-family: sans-serif;
	font-size: 22pt;
}

.modal-content-close:hover {
	background-image: url(../images/gui/close_button_hover.png);
}

.modal-content-close:disabled {
	background-image: url(../images/gui/close_button_disabled.png);
}

/* Option checkbox */
.label-container {
	display: inline-block;
	position: relative;
	margin: 15px auto;

	cursor: pointer;
	user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: none;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	width: 20px;
	height: 20px;
	left: -40px;
	top: 2px;
	
	outline-style: solid;
	outline-color: rgba(255, 255, 255, 0.3);
	outline-width: 1px;

	background-image: url(../images/gui/checkbox.png);
}

/* When the checkbox is checked, change the background image */
.label-container input:checked ~ .checkmark {
	background-image: url(../images/gui/checkbox_checked.png);
}
